.preview-block {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 24px 24px 8px 24px;
  box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px;
  .dates {
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 12px;
    position: relative;
    &:hover {
        border: 1px solid #1976d2;
        .arrival {
            &:last-child {
                border-color: #1976d2;
            }
        }
    }
  }
  .arrival {
    padding: 10px 12px;
    cursor: pointer;
    .label {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
    }
    .value {
        font-size: 16px;
        color: #717171;
        margin-top: 4px;
    }
    &:last-child {
      border-left: 1px solid #b0b0b0;
    }
    .dates-container {
        &.opened {
            position: absolute;
            top: -3px;
            right: -3px;
        }
        .dates-calendar {
            top: 0;
            right: 0;
            left: unset;
        }
    }
  }
  .guests-counter-item {
    padding: 0;
}
.disclaimer {
    text-align: center;
    font-size: 14px;
    color: #717171;
}
.checkout-btn {
    width: 100%;
    color: white;
    background-color: #1976d2;
    display: block;
    text-align: center;
    line-height: 48px;
    border-radius: 4px;
    text-decoration: none;
    margin: 12px 0 24px 0;
    font-weight: 500;
    &:hover {
        filter: brightness(1.1)
    }
}
.pricing-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    &:not(.total-item) {
        padding-bottom: 12px;
    }
    &.total-item {
        padding-top: 12px;
    font-weight: 500;
    border-top: 1px solid #ddd;
    padding-bottom: 16px;
    }
}
}
@media(max-width: 800px) {
    .preview-block {
        box-shadow: none;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        padding: 24px 0 0 0;
        .arrival {
            .dates-container {
                &.opened {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    z-index: 12;
                    .dates-calendar {
                        bottom: 0;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}