.room-details_title {
    margin-bottom: 24px;
    .title {
        font-size: 26px;
        font-weight: 500;
    }
    .secondary-title {
        font-size: 22px;
        font-weight: 500;
    }
    .descr {
        font-size: 16px;
        color: #717171;
        margin-top: 8px;
    }
}
.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin-bottom: 48px;
    .gallery-image {
        height: 100%;
        background-color: #e2e2e2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .main-block {
        img {
            border-radius: 12px 0 0 12px;
        }
    }
    .secondary-images-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        .gallery-image {
            max-height: 180px;
            &:nth-child(2) {
                img {
                    border-radius: 0 12px 0 0;
                }
            }
            &:last-child {
                img {
                    border-radius: 0 0 12px 0;
                }
            }
        }
    }
}
.dates-and-subtotal-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    .main-container {
        position: relative;
        width: 58.333333333333336%;
        margin-left: 0%;
        margin-right: 0%;
        .section {
            .DayPicker {
                margin: 0 -0.5em;
                .DayPicker-Caption > div {
                    font-size: 16px;
                }
            }
        }
    }
    .subtotal-column {
        position: relative;
        width: 33.33333333333333%;
        margin-left: 8.333333333333332%;
        margin-right: 0%;
        .subtotal-col {
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            display: inline-block;
        }
    }
}