.back-to-header {
    padding-bottom: 24px;
    a {
      display: flex;
      align-items: center;
      border-radius: 50%;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color:#717171;
      text-decoration: none;
      span {
        font-size: 30px;
        width: 30px;
        height: 30px;
        flex: 0 0 30px;
        color: #717171;
        border-radius: 50%;
        margin-right: 8px;
        &:hover {
            background-color: rgba(0,0,0,.05);
        }
      }
    }
  }
.room-details_title {
    margin-bottom: 24px;
    .title {
        font-size: 26px;
        font-weight: 500;
    }
    .secondary-title {
        font-size: 22px;
        font-weight: 500;
    }
    .descr {
        font-size: 16px;
        color: #717171;
        margin-top: 8px;
    }
}
.dates-and-subtotal-container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    .main-container {
        position: relative;
        width: 58.333333333333336%;
        margin-left: 0%;
        margin-right: 0%;
        .section {
            .DayPicker {
                margin: 0 -0.5em;
            }
        }
    }
    .subtotal-column {
        position: relative;
        width: 33.33333333333333%;
        margin-left: 8.333333333333332%;
        margin-right: 0%;
        .subtotal-col {
            position: sticky;
            top: 0;
            z-index: 1;
            width: 100%;
            display: inline-block;
        }
    }
}
@media (max-width: 800px) {
    .dates-and-subtotal-container {
        display: grid;
        .main-container {
            width: 100%;
        }
        .subtotal-column {
            margin: 0;
            width: 100%;
        }
    }
}