.calendar-top-block {
  margin-bottom: 20px;
}
.calendar-grid {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 32px;
  margin-bottom: 60px;
  .calendar-sidebar {
    .calendar-sidebar-content {
      position: sticky;
      top: 80px;
      overflow-y: auto;
      .reservations-list {
        padding: 0;
        margin-bottom: 32px;
        .reservations-list-item {
          padding-left: 0;
        }
      }
  }
  }
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 580px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
    rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  padding: 32px;
  overflow-y: auto;
  max-height: 550px;
  height: 100%;
  box-sizing: border-box;
  .close {
    position: absolute;
    top: 0;
    right: 0;
  }
  .card-actions {
    padding: 8px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  .guests-and-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .price-and-payment {
    display: flex;
    align-items: center;
    .prepayment-checkbox {
      margin: 16px 0 8px 0;
    }
  }
}
.secondary-descr {
  color: rgba(0, 0, 0, 0.6);
}
.rbc-selected-cell {
  background-color: #eaf6ff !important;
}
.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
    font-size: 16px;
}
.rbc-row-segment {
    padding-bottom: 5px;
}
.rbc-toolbar {
    justify-content: flex-end;
    flex-flow: row-reverse;
    margin-bottom: 16px;
    .rbc-btn-group {
        button {
            &:nth-child(1) {
                display: none;
            }
        }
        &:last-child {
            display: none;
        }
    }
    .rbc-toolbar-label {
        flex-grow: unset;
        padding: 0 10px 0 0;
        text-align: left;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 20px;
    }
}
.rbc-row .rbc-date-cell a {
  pointer-events: none;
}

@media (max-width: 1024px) {
    .calendar-grid {
        grid-template-columns: 1fr;
    }
    .modal-content {
        max-height: unset;
    }
}