.view-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px;
}
.booking-main-title {
  font-size: 26px;
  margin-bottom: 32px;
  font-weight: 500;
}
.available-rooms-list {
  margin-top: 8px;
  display: grid;
}
.booking-dates-line {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 12px;
}
.dates-container,
  .guests-container {
    position: relative;
    .dates-calendar,
    .guests-calendar {
      display: none;
      position: absolute;
      top: 70px;
      padding: 16px;
      border: 1px solid rgb(221, 221, 221);
      border-radius: 12px;
      box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px;
      background-color: white;
      left: 16px;
      z-index: 12;
      .actions-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .dates-calendar {
      width: 540px;
      padding: 32px 16px 16px 16px;
    }
    .primary-btn {
      margin-left: 16px;
    }
    &.opened {
      .dates-calendar,
      .guests-calendar {
        display: block;
      }
    }
  }
@media (max-width: 800px) {
  .booking-dates-line {
    flex-wrap: wrap;
    position: relative;
    .choose-dates-label {
      flex: 0 0 100%;
    }
  }
  .dates-container,
  .guests-container {
    position: unset;
    .primary-btn {
      margin: 12px 16px 0 0;
    }
    .dates-calendar, .guests-calendar {
      box-sizing: border-box;
      top: 100px;
      left: 0;
    }
    .dates-calendar {
      width: 100%;
    }
    .guests-calendar {
      width: auto;
    }
  }
  .DayPicker-NavButton {
    top: 0;
    right: 0;
  }
}
@media (max-width: 575px) {
  .dates-container,
  .guests-container {
    width: 100%;
    .primary-btn {
      width: 100%;
      margin: 12px 0 0 0;
    }
    .dates-calendar, .guests-calendar {
      width:100%;
      top: 0; 
    }
  }
  .DayPicker {
    .DayPicker-Months {
      grid-template-columns: 1fr;
    }
  }
}