.guests-counter-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding: 0 8px;
    button {
        padding: 0;
        span {
            border: 1px solid #b0b0b0;
            padding: 5px;
            border-radius: 50%;
        }
    }
    .guests-value {
        margin: 0 16px;
        min-width: 18px;
        text-align: center;
    }
    .guests-label {
        min-width: 74px;
        margin-right: 16px;
        flex: 1;
    }
}
.counter-disclaimer {
    padding-bottom: 16px;
    color: #717171;
    font-size: 14px;
    a {
        color: #1976d2;
        line-height: 1.5;
    }
}
@media (max-width: 800px) {
    .guests-counter-item {
        .guests-label {
            flex: 1;
        }
    }
}