.DayPicker {
  width: 100%;
  .DayPicker-Months {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    grid-gap: 32px;
    flex-wrap: unset;
    .DayPicker-Month {
      margin: 0;
      width: 100%;
    }
  }
}
.DayPicker-Day.DayPicker-Day--start {
  background-color: #4a90e2;
  color: #f0f8ff;
}
.DayPicker-Day.DayPicker-Day--start:hover {
  background-color: #4a90e2 !important;
  color: #f0f8ff;
}
.DayPicker-Day.DayPicker-Day--end {
  background-color: #4a90e2;
  color: #f0f8ff;
}
.DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.DayPicker-Day {
  border-radius: 0 !important;
  outline: none;
}
.DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.DayPicker-NavButton {
  top: 0;
  right: 0.5em;
}
@media (max-width: 575px) {
    .DayPicker {
      .DayPicker-Months {
        grid-template-columns: 1fr;
      }
    }
  }